h2 Runtime

div.hs-container
  div
    span Execution Path
    span #{runtime.execPath}
  div
    span Command Line Arguments
    span [#{runtime.argv}]
  div
    span Node Command Line Arguments
    span #{runtime.execArgv}

div.clearme
  h3 Versions
  ul.hs-versions.hs-well
    each value, key in runtime.versions
      li
        span= key + ' version: '
        span= value
div
  h3 Environment
  ul.hs-env.hs-well
    each value, key in runtime.env
      li
        span= key
        //- don't want the equal sign to be bold
        span= ' = ' + value
